*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    background-color: #f4f4f4;
}

#container{
    max-width: 50rem; /*800*/
    margin: 0 auto;
    background-color: #fff;
    padding: 1.25rem; /*20px*/
    border-radius: 0.5rem; /*8px*/
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    margin-bottom: 1.25rem;
}
h2{
    margin-top: 1.25rem;
}
.form-container{
    border: 1px solid #ccc;
    padding:1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    background-color: #f9f9f9;
}
.form-container label {
    display: block;
    margin-bottom: 0.31rem;
}

.form-container input[type="text"], 
.form-container input[type="Number"]{
    width: 100%;
    padding: 0.62rem;
    margin-bottom: 0.62rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#productInfos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.62rem;
}
.productInputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.btn{
    background-color: #fd1b1b;
    color: #fff;
    padding: 0.62rem;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #e60e0e;
    color: #fff;
    transform: scale(1.015);
}

.form-container input, select{
    width: 100%;
    padding: 0.62rem;
    margin-bottom: 0.62rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.list-container {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 20rem;
    overflow-y: auto;
}
.list-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-container li{
    margin-bottom: 0.62rem;
    padding: 0.62rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}